*{
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.ordenar{
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5{
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: darkgrey;
}
.rojo{
    font:bold;
    color: crimson;
}
.subrayado{
    background-color: yellow;
   
}

/*------------Header-------------*/
header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    
}
header > #buscador{
    margin-left: 10px;
    height: 30px;
    border: 1px solid red;
}

header > .buscar{
    background-color: crimson;
    height: 30px;
    text-align: center;  
}

header > .boton{
    background-color: crimson;
    color: antiquewhite;
    width: 100px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
}
/*------------Aside--------------*/

aside{
    background-color: lightgray;
    padding: 20px;
    flex: 30%;
    flex-direction: column;
    
}

aside a{
    width: 300px;
    height: 60px;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background-color: blue;   
    display: block;
    border: 1px solid black;
}

/*-------Main-------*/
main{
    display: flex;
    background-color: lightgray;
    padding: 10px;
    flex: 70%;
    flex-wrap: wrap;
}
section{
    display: flex;
    
}
article{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: beige;
    border-radius: 10px;
    flex: 30%;
    flex-wrap: wrap;
    
}
img{
    width: 100px;
    float: left;
    margin-right: 10px;
}
h1{
    border-bottom: 2px solid black;
}

